.bottom-menu {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: white;
  padding-top: 13px;
  padding-bottom: 30px;
}
.menu-bottom-item img {
  margin-bottom: 7px;
}
.menu-bottom-item-center {
  margin-top: -36px;
}
.menu-bottom-item p {
  font-size: 10px;
  color: #949494;
}

.menu-bottom-item .active-menu {
  color: black;
}
