.wrap {
  background-color: #f1f1f1;
  padding: 22px 15px;
}
.wrap .faq-item {
  background-color: white;
  padding: 17px;
  border-radius: 10px;
  margin-bottom: 11px;
}
.faq-item .title {
  font-size: 15px;
  margin-bottom: 7px;
  color: #232323;
}
.faq-item .time {
  font-size: 12px;
  color: #a5a5a5;
}
.faq-item i {
  font-size: 20px;
  color: #a5a5a5;
}
.faq-item img {
  margin: 20px 0;
  aspect-ratio: 2 / 1;
}
