.wrap {
  padding: 30px 20px 0 20px;
  min-height: calc(100vh - 53px);
}

.label-input {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.sublabel-input {
  font-size: 14px;
}

input {
  margin-top: 11px;
  padding: 12px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 15px;
}

.success-input {
  border: 1px solid #000;
}

.submit {
  margin: 10px 0 25px 0;
  padding: 16px 0;
  cursor: pointer;
  background-color: #ffbb53;
  border-radius: 27.5px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.validation {
  position: absolute;
  right: 15px;
  top: 28px;
  font-size: 11px;
}

.error-message {
  margin-top: 15px;
  padding-left: 12px;
  color: #ff1818;
}
