.menu {
  padding: 0 25px;
  overflow-x: scroll;
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  column-gap: 25px;
  height: 60px;
}

.menu .menu-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
}

.menu-item-active {
  border-bottom: 2px solid #000;
  color: #000 !important;
}

.menu-title-active {
  font-weight: 600;
}
.category-list {
  background-color: #f3f3f3;
  padding: 17px;
  overflow-x: scroll;
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  column-gap: 12px;
  height: 67px;
}
.category-item {
  background-color: white;
  border-radius: 18px;
  padding: 5px 15px;
  color: #555;
  font-weight: 200;
}

.category-item-active {
  background-color: black;
  color: white;
  font-weight: 200;
}
.suggest-section {
  padding: 18px;
}

.suggest-section-list {
  overflow-x: scroll;
  grid-auto-columns: max-content;
  /* margin: 17px 0; */
  padding: 17px 0;
}

.suggest-section-list::-webkit-scrollbar {
  display: none;
}

.suggest-section-list img {
  border-radius: 50%;
  margin-bottom: 11px;
}

.suggest-section-item {
  width: calc(33.33% - 17.5px);
  flex-shrink: 0;
  margin-right: 25px;
}

.suggest-section-item img {
  width: 100%;
  height: 100%;
}

.wrap-btn {
  color: #8097e6;
  font-size: 10px;
  border: 1px solid #8097e6;
  height: 17px;
  margin-top: 5px;
  padding: 0 5px;
  border-radius: 2.5px;
}
.wrap-btn-ad {
  border: 1px solid #b6b6b6;
  color: #b6b6b6;
}
.wrap-image-ad {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 11px;
  background-position: center;
  background-size: cover;
}
.wrap-image-ad i {
  color: white;
  font-size: 22px;
  z-index: 10;
}
.order-section-post p {
  color: #333;
  font-size: 13px;
}
