.search-input {
  background-color: #f1f1f1;
  border-radius: 10px;
  font-size: 15px;
  padding-left: 16px;
  padding-right: 35px;
}

.text-remove {
  position: absolute;
  display: block;
  top: 14px;
  right: 14px;
}

.label {
  margin-right: 8px;
  font-size: 13px;
  color: #333;
}

.product-discount {
  margin-right: 4px;
  color: #d80c0c;
  font-size: 12px;
  font-weight: bold;
}

.product-price {
  margin-right: 4px;
  font-size: 12px;
  font-weight: bold;
}

.product-original-price {
  font-size: 12px;
  color: #999;
  text-decoration-line: line-through;
}

.product-rate {
  margin-left: 3px;
  font-size: 11px;
  color: #6e6e6e;
}
