.header {
  padding: 17px 20px;
}
.title-header {
  font-size: 18px;
  margin-left: 7px;
}
.wrap {
  padding: 19px;
  position: relative;
}
.signup-text-guide {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 24px;
}
.wrap-check {
  background-color: #ddd;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.btn-done {
  border-radius: 27px;
  background-color: #ffbb53;
  height: 55px;
  position: fixed;
  bottom: 0;
  width: 90%;
  margin-bottom: 20px;
}
.input-otp {
  height: 47px;
  padding: 13px;
  margin-bottom: 11px;
}
.input-phone {
  height: 47px;
  padding: 13px;
  margin-bottom: 11px;
  width: 64%;
}
.btn-otp {
  border-radius: 5px;
  background-color: black;
  height: 47px;
  padding: 0 17px;
  width: 33%;
  white-space: nowrap;
}
.time-down {
  color: #ff1414;
  font-size: 13px;
  position: absolute;
  top: 14px;
  right: 17px;
}
.wrap-otp-input {
  position: relative;
}
