.header {
  padding: 17px 20px;
}
.title-header {
  font-size: 18px;
  margin-left: 7px;
}
.wrap {
  padding: 19px;
  position: relative;
}
.signup-text-guide {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 24px;
}
.item-term {
  padding: 23px 18px;
  border-radius: 15px;
}
.item-term-active {
  background-color: #f1f1f1;
}
.wrap-check {
  background-color: #ddd;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.btn-register {
  border-radius: 27px;
  background-color: #ffbb53;
  height: 55px;
  position: fixed;
  bottom: 0;
  width: 90%;
  margin-bottom: 20px;
}
